{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="register-login-box">
    <div class="lb-header">
      <a class="active" id="login-box-link">Register</a>
    </div>
  <form method="post" class="register-login-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="u-form-group">
        <label for="{{ field.id_for_label }}">
          {{ field.label }}<br>
        </label>
        {{ field }}
      </div>
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
    <div class="u-form-group">
      <button type="submit">Register</button>
    </div>
  </form>
  <p>
    Already have an account?
    <a href="{% url 'login' %}">Login here</a>.
  </p>
</div>
{% endblock content %}

